@inject IJSRuntime Runtime
@inject NavigationManager NavManager

<nav class="navbar navbar-expand-lg navbar-primary bg-blue">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#" id="nbrand">SIH Dashboard</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse black-text" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" id="navopt">
                    Home
                    <!--span class="sr-only">(current)</!--span-->
                </a>
            </li>
            @* <li class="nav-item">
                <a class="nav-link" href="#" id="nlink">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="nlink">Pricing</a>
            </li> *@
        </ul>
        @if (GlobalUser.UID == null)
        {
            <a id="logbtn" class="btn btn blue-gradient waves-effect navbar-right" href="/signin" style="margin-left:-10px" >Login</a>
        }
        //else if (!GlobalUser.IsVerified && NavManager.Uri.IndexOf("/verifyaccount/") < 0)
        //{
        //    NavManager.NavigateTo("/verifyaccount/" + GlobalUser.Email);
        //}
        else
        {
            <a class="btn btn-info navbar-right" href="/userinfo" style="margin-left:-10px">@GlobalUser.Email</a>
            <button id="logbtn" type="button" class="btn blue-gradient waves-effect" @onclick="Logout">Log Out</button>
        }


    </div>

    @code
{
        void Logout()
        {
            GlobalUser.UID = null;
            GlobalUser.IsVerified = false;
            GlobalUser.Email = null;
            NavManager.NavigateTo("/signin");

        }
    }

    <!-- Collapsible content -->

</nav>

<style>
       #logbtn{
        border-radius: 30px;
        box-shadow: none;
        font-size: 1.5rem;
        font-family: 'Varela Round', sans-serif;

    }
    .navbar {
        box-shadow: none;
        font-size: 2rem;
        
        font-family: 'Varela Round', sans-serif;
    }

    .nav-link{
        font-size: 20px;
    }
    .navbar-brand{
        font-size: 30px;
        font-weight: bolder;
        font-family: 'Varela Round', sans-serif;
    }

    }
    #nlink{
        color: black;
        font-weight:bolder ;
    }

    #navopt{
    
	color: #413e66;
	font-size: 32px;
	margin-left: 72rem;
	font-weight: bolder;
    font-family: 'Varela Round', sans-serif;;


    }
</style>
